<% if flash[:error] %>
	<div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<% if flash[:warning] %>
	<div class="alert alert-warning"><%= flash[:warning] %></div>
<% end %>
<% if flash[:info] %>
	<div class="alert alert-info"><%= flash[:info] %></div>
<% end %>
<% if @user %>
	<%= form_for :update, method: "put" do |f| %>
		<%= hidden_field :user, :id %>
		Nome: <%= text_field :user, :name, class: "form-control" %> <br>
		Cognome: <%= text_field :user, :surname, class: "form-control" %> <br>
		<%= f.submit "Aggiorna", class: [ "btn", "btn-success" ] %>
	<% end %>
<% end %>
